@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Edu+TAS+Beginner:wght@500&family=Inter&family=Poppins:wght@700&family=Rubik+Moonrocks&display=swap');

:root{
  --brand-color: #800080;
  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  --primary-gray-color: rgba(217, 217, 217, 0.34);
  --secondary-gray-color: rgba(217, 217, 217, 1);
  --font-family: 'Poppins';
}
